body {
    font-fmaily: Arial, Sans-Serif;
    background: #f2f1f0;
}

h1, h2, h3, h4, h5, h6, p, div, table, a {
    margin: 0;
    line-height: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
    font-style: normal;
}
a, a:active, a:focus {
    text-decoration: none;
    color: #000;    
    outline: none;
}

.grid-900 {
    width: 900px;
}

.header {
    width: 1000px;
    height: 169px;
    margin: 0 auto;
    background: url('../imgs/logo.png') no-repeat;
}

.nav {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}

.nav li {
    margin: 0 auto;
    list-style: none;
    float: left;
    padding: 5px 20px;
}

.nav li a {
    color: #395998;
    font-weight: bold;
}

.nav li a:hover {
    color: #395998;
    text-decoration: underline;
    font-weight: bold;
}

.grid-bloco {
        top: 20px;
        position: relative;
    }

    .content-consulta 
    {
       width: 100%;
       height: 400px;
       background: #e8e8e8;
       margin: 0 auto;
       top: 0px; 
       position: relative;
    }

.content {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background: #e8e8e8;
    box-shadow: 0 0 4px #333; 
}

.consulta {
    height: 300px;
    margin: 0 auto;
    position: relative;
    top: 30px;
}

.consulta .mapa {
    width: 400px;
    height: 100%;
    float: left;
}

.consulta .form-consulta {
    width: 500px;
    height: 100%;
    float: right;
    background: #d8d8d8;
    box-shadow: 5px 5px 5px #666;
}

.consulta .form-consulta  label {
    color: #395998;
}

.consulta .form-consulta .title {
    font-size: 20px;
    color: #395998;
    font-style: normal;
    margin-left: 20px;
    margin-top: 50px;
}

.consulta .form-consulta .input-ida {
    margin-top: 30px;
    margin-left: 20px;
    float: left;
}

.consulta .form-consulta .input-s-ida  {
    float: right;
    margin-top: 30px;
    margin-right: 220px;
}


.seleciona-destino {

}

.seleciona-destino select {
    display: block;
    margin-top: 15px;
    width: 220px;
    height: 30px;
}


.seleciona-destino input[type="text"] {
    display: block;
    margin-top: 15px;
    height: 30px;
}
.seleciona-destino .saida, .destino {
    width: 400px;
    height: 50px;
    position: relative;
    top: 30px;
    left: 30px;
}

.seleciona-destino .top {
    position: relative;
    top: 60px;
}

.seleciona-destino .right {
    float: right;
}

.seleciona-destino .left {
    float: left;
}

.seleciona-destino input[type="submit"] {
    padding: 6px 0px;
    position: relative;
    top: 72px;
    left: 50%;
    margin-left: -35px; 
    width: 100px;
}