<!DOCTYPE html>
<html>
<head>
    <!-- Google -->
    <meta name="verify-v1" content="/a2TCJq+UU7t+A1yqb767Ydcld61oru6YOSU4QEaVFc=" />
    <meta name="verify-v1" content="iTvEtW78UxLT54yMb0Jd1M+l/cTiAGT2Kp3ObNWNwFk=" />
    <!-- Formato -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>VENDAS DE PASSAGEM ONLINE</title>
    
    <!-- Descrição do site -->
    <meta name="description" content="SOS LINKS" >
    <meta name="keywords" content="SOS LINKS">
    
    <!-- Localização do site -->
    <meta http-equiv="Content-language" content="pt-BR">

    <!-- Icone do site -->
    <link Rel="Add Icon" Href="{{ STATIC_URL }}imgs/icone.png">
    <link Rel="Shortcut Icon" Href="{{ STATIC_URL }}imgs/icone.png">
    <link rel="Icon" href="{{ STATIC_URL }}imgs/icone.png" type="image/png">
    
    <!-- CSS do site -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
    {% block css %}
    {% endblock %}

</head>
<body>    
<div class="header">
</div>
{% block menu %}{% include "menu.html" %}{% endblock %}

<div class="content">
    {% block content %}
    <div class="consulta grid-900">
        <div class="mapa">
            <img src="{{ STATIC_URL }}imgs/map.png" alt="Mapa" />
        </div>
        <div class="form-consulta">
            <h2 class="title">CONSULTA A COMPRA DE PASSAGENS ONLINE</h2>
            <form>
                <div class="input-ida">
                    <input type="radio" name="ida" id="ida"/>
                    <label for="ida">ida e volta</label>
                </div>
                
                <div class="input-s-ida">
                    <input type="radio" name="s-ida" id="s-ida"/>
                    <label for="s-ida">somente ida</label>
                </div>
                
                <div class="seleciona-destino">
                    <div class="saida">
                        <div class="left">
                            <label>saída</label>
                            <select>
                                <option>Estado</option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div class="right">
                            <label>data de saida</label>
                            <input type="text" maxlength="10"/>
                        </div>
                    </div>

                    <div class="destino top">
                        <div class="left">
                            <label>destino</label>
                            <select>
                                <option>Estado</option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                        <div class="right">
                            <label>data de destino</label>
                            <input type="text" maxlength="10"/>
                        </div>                    
                    </div>
                    
                    <input type="submit" value="Comprar"/>  
                </div>
            </form>
        </div>
    </div>
    {% endblock %}
</div>
</body>
</html>