<!DOCTYPE html>
<html>
<head>
    <!-- Google -->
    <meta name="verify-v1" content="/a2TCJq+UU7t+A1yqb767Ydcld61oru6YOSU4QEaVFc=" />
    <meta name="verify-v1" content="iTvEtW78UxLT54yMb0Jd1M+l/cTiAGT2Kp3ObNWNwFk=" />
    <!-- Formato -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>VENDAS DE PASSAGEM ONLINE</title>
    
    <!-- Descrição do site -->
    <meta name="description" content="SOS LINKS" >
    <meta name="keywords" content="SOS LINKS">
    
    <!-- Localização do site -->
    <meta http-equiv="Content-language" content="pt-BR">

    <!-- Icone do site -->
    <link Rel="Add Icon" Href="{{ STATIC_URL }}imgs/icone.png">
    <link Rel="Shortcut Icon" Href="{{ STATIC_URL }}imgs/icone.png">
    <link rel="Icon" href="{{ STATIC_URL }}imgs/icone.png" type="image/png">
    
    <!-- CSS do site -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/estilo.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css">
    {% block css %}
    {% endblock %}

</head>
<body>    
<header>
<div id="box">
    <div id="logo">

    </div>

        <h1> HLPR TURISMO - LTDA</h1>
    </div>
</header>
    {% block menu %}{% include "menu.html" %}{% endblock %}
<div class="content">
    {% block content %}

{% endblock %}
</div>

 <footer>
    <div id="box">
        <p> Todos os direitos reservados - 2012 </p>
    </div>
</footer>
</body>
</html>