{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cadastro.css" type="text/css">
{% endblock %}

{% block content %}
<div class="grid-cadastro">
 <form action="{% url cadastro %}" method="POST"> {% csrf_token %}
    <table cellspacing="10" align="center">
        <tr>
            <td>
                <label>{{ form.user.errors }}</label>
                <label>{{ form.cpf.errors }}</label>
                
                <label for="id_cpf">CPF</label>
                {{ form.cpf }}

            </td>
            <td colspan="2" class="nome">
                <label>{{ form.nome.errors }}</label>
                <label for="id_nome">Nome</label> <!-- style="width: 449px;" -->
                {{ form.nome }}
            </td>
            <td>

                <label>{{ form.data_nasc.errors }}</label>
                <label for="data_nasc">Data de Nascimento</label>
                {{ form.data_nasc }}
        </tr>

        <tr>
            <td>
                {{ form.id_sexo.errors }}
                <label for="id_sexo">Sexo</label>
                {{ form.sexo }}
            </td>
            <td>
                {{ form.id_estado_civil.errors }}
                <label for="id_estado_civil">Estado Civil</label>
                {{ form.estado_civil }}
            </td>
            <td>
                {{ form.cidade.errors }}
                <label>Cidade</label>
                {{ form.cidade }}
            </td>
            <td><label>CEP</label>
                {{ form.cep }}
<!--                 <input type="text" maxlength="10"/></td>
 -->        </tr>

        <tr>
            <td>
                {{ form.celular.errors }}
                <label>Celular</label>
                {{ form.celular }}
            </td>
            <td>
                {{ form.telefone.errors }}
                <label>Telefone</label>
                {{ form.telefone }}
            <td class="estado">
                {{ form.estado.errors }}
                <label>Estado</label> 
                {{ form.estado }} <!-- style="width: 274px;" -->
            </td>
            <td>
                {{ form.pais.errors }}
                <label>País</label>
                {{ form.pais }}
            </td>
        </tr>

        <tr>
            <td colspan="2" class="bairro"> 
                {{ form.bairro.errors }}
                <label>Bairro</label> <!-- style="width: 350px;" -->
                {{ form.bairro }}
            </td>
            <td colspan="2" class="endereco">
                {{ form.endereco.errors }}
                <label>Endereço</label><!-- style="width: 449px;" -->
                {{ form.endereco }}
            </td>
        </tr>

        <tr>
            <td>
                {{ form.numero.errors }}
                <label>Número</label>
                {{ form.numero }}
            </td>
            <td>
                {{ form.complemento.errors }}
                <label>Complemento</label>
                {{ form.complemento }}
            </td>
            <td colspan="2" class="email">
                {{ form.email.errors }}
                <label>Email</label> <!--  style="width: 449px;" -->
                {{ form.email }}
            </td>
        </tr>

        <tr>
            <td>
                {{ form.senha.errors }}
                <label>Senha</label>
                {{ form.senha }}
            </td>
            <td>
                {{ form.confirmar_senha.errors }}
                <label>Confirmar senha</label>
                {{ form.confirmar_senha}}
            </td>
        </tr>

        <tr>
            <td>
                {{ form.ativo.errors }}
                <label>Ativo</label>
                {{ form.ativo }}
            </td>
            <!-- <td>
                <label>User</label>
                {{ form.user }}
            </td> -->
            <td>
                 <input type="submit" value=" CADASTRAR " />
            </td>

            <td>{{ form.sucesso }}</td>
        </tr>
    </table>
</form>
</div>
{% endblock %}