{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/cadastro.css" type="text/css">
{% endblock %}

{% block content %}
<div class="grid-cadastro">
<form>

    {{ form }}
    {{ form.as_p }}
    <input type="submit" value=" CADASTRAR " />
    {% comment %}
    <table cellspacing="10" align="center">
        <tr>
            <td><label>CPF</label><input type="text" maxlength="11" id="cpf"/></td>
            <td colspan="2"><label>Nome</label><input type="text" style="width: 449px;"/></td>
            <td><label>Data de Nascimento</label><input type="text" maxlength="10" id="datanasc"/></td>
        </tr>

        <tr>
            <td>
                <label>Sexo</label>
                <select>
                    <option>Masculino</option>
                    <option>Feminino</option>
                </select>
            </td>
            <td>
                <label>Estado Civil</label>
                <select>
                    <option>Solteiro(a)</option>
                    <option>Casado(a)</option>
                    <option>Viuvo(a)</option>
                    <option>Divorciado(a)</option>
                    <option>Outros(a)</option>
                </select>
            </td>
            <td>
                <label>Escolaridade</label>
                <select style="width: 274px;">
                    <option>Solteiro(a)</option>
                    <option>Casado(a)</option>
                    <option>Viuvo(a)</option>
                    <option>Divorciado(a)</option>
                    <option>Outros(a)</option>
                </select>
            </td>
            <td><label>Data de Nascimento</label><input type="text" maxlength="10"/></td>
        </tr>

        <tr>
            <td><label>Celular</label><input type="text" maxlength="11"/></td>
            <td><label>Telefone</label><input type="text" maxlength="11"/></td>
            <td>
                <label>Estado</label>
                <select style="width: 274px;">
                    <option>Acre</option>
                    <option>Casado(a)</option>
                    <option>Viuvo(a)</option>
                    <option>Divorciado(a)</option>
                    <option>Outros(a)</option>
                </select>
            </td>
            <td><label>País</label><input type="text" /></td>
        </tr>

        <tr>
            <td colspan="2"><label>Bairro</label><input type="text" style="width: 350px;" /></td>
            <td colspan="2"><label>Endereço</label><input type="text" style="width: 449px;" /></td>
        </tr>

        <tr>
            <td><label>Número</label><input type="text" maxlength="11"/></td>
            <td><label>Complemento</label><input type="text" /></td>
            <td colspan="2"><label>Email</label><input type="text" style="width: 449px;" /></td>
        </tr>

        <tr>
            <td><label>Senha</label><input type="password" maxlength="11"/></td>
            <td><label>Confirmar senha</label><input type="password" /></td>
        </tr>

        <tr>
            <td>
                <asp:LinkButton runat="server" id="btnSalvar" Text="Salvar" OnClick="btn_Salvar_Click"/>
            </td>
        </tr>
    </table>
    {% endcomment %}
</form>
</div>
{% endblock %}