{% extends "base.html" %}
{% load url from future %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/consulta.css" type="text/css">
{% endblock %}

{% block content %}
<div class="content-consulta">
	<div class="grid-bloco">
		<form method="POST" action="/consultalugar/">
		{% csrf_token %}
    	<label class="cidade">
    		{% for v in vendas %}
    			{{ v.saida.nome }} - {{ v.destino.nome }} - {{ v.data_saida }} 
    		
    		 {% endfor %}

    	</label>
	    <div class="tabela-resultado">
	        <table cellpadding="10">
	            <tr class="title">
	                <td><label>Selecionar</label></td>
	                <td><label>Partida</label></td>
	                <td><label>Chegada</label></td>
	                <td><label>Valor</label></td>
	                <td><label>Poltronas livres</label></td>
	            </tr>

	            <tr class="resultado">
	                <td><input type="radio" name="r1" id="r1"/></td>
	                <td>
	                	<label for="r1">
	                		<!-- HORARIO DE PARTIDA DO ONIBUS -->
	                		
	                	</label>
	           		</td>
	                <td><label for="r1">10:30</label></td>
	                <td>
	                	<label for="r1">
	                		
	                		
	                	</label>
	                </td>
	                <td><label for="r1">12</label></td>
	            </tr>

	            <tr class="resultado">
	                <td><input type="radio" name="r2" id="r2"/></td>
	                <td><label for="r2">08:30</label></td>
	                <td><label for="r2">10:30</label></td>
	                <td><label for="r2">30,00</label></td>
	                <td><label for="r2">12</label></td>
	            </tr>

	           <tr class="resultado">
	                <td><input type="radio" name="r3" id="r3"/></td>
	                <td><label for="r3">08:30</label></td>
	                <td><label for="r3">10:30</label></td>
	                <td><label for="r3">30,00</label></td>
	                <td><label for="r3">12</label></td>
	            </tr>

	        
	        </table>
	        <input type="submit" value="proximo"/> 
	    </div>
	</form>
    </div>
</div>
{% endblock %}