{% extends "base.html" %}
{% load url from future %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/consulta.css" type="text/css">
{% endblock %}

{% block content %}
<div class="content-consulta">
	<div class="grid-bloco">
		{% if busao %}
		<form method="POST" action="/consultalugar/">
		{% csrf_token %}
    	<label class="cidade">
	    	<b>Saida</b> {{ busao.saida.nome }} - <b>Destino</b> {{ busao.destino.nome }} - 

	    	{% for onibus in onibus %}
	    	</b>{{ onibus.data_saida }} <b>
	    	{% endfor %}
    	</label>
	    <div class="tabela-resultado">
	        <table cellpadding="10">
	            <tr class="title">
	                <td><label>Selecionar</label></td>
	                <td><label>Partida</label></td>
	                <td><label>Chegada</label></td>
	                <td><label>Valor</label></td>
	                <td><label>Poltronas livres</label></td>
	            </tr>
				{% for onibus in onibus %}
	           	<tr class="resultado">
	                <td><input type="radio" name="r3" id="r3"/><input type="hidden" name="onibus" value="{{ onibus.id }}" /></td>
	                <td><label for="r3"> {% comment %} {{ onibus.data_saida }} {% endcomment %}{{ onibus.horario_saida }}</label></td>
	                <td><label for="r3">{% comment %}{{ onibus.data_volta }} - {% endcomment %}{{ onibus.horario_volta }}</label></td>
	                <td><label for="r3">{{ onibus.valor }}</label></td>
	                <td><label for="r3">{{ onibus.poltronas }}</label></td>
	            </tr>
    		 	{% endfor %}

	        
	        </table>
	       
		    </div>
		     <input type="submit" value="Proximo" style="margin-left: 200px; margin-top: 50px;"/> 
		</form>
		{% else %}
			Nenhum onibus para sua escolha
		{% endif %}
    </div>
</div>
{% endblock %}